.photo-img {
  width: 245px;
  height: 370px;
}
.title-info {
  font-weight: bold;
  padding-right: 5px;
}
.compare-btn {
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.box-modal {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.green-bg {
  background-color: #4caf50; /* Green */
}
.red-bg {
  background-color: #f44336; /* Red */
}
.white-bg {
  background-color: #ffffff; /* White */
}
.vertical-align-middle{
    vertical-align: middle;
}